* {
  font-family: 'Source Code Pro', monospace;
  /* for dark mode I need to have White text */
  color: White !important;
}
body{
  background-color: #18191A;
  /* will use this once I know how to add a dark mode toggle to regular mode. */
  background-attachment: fixed;
 
}

div {
  word-wrap: break-word;
}
/* c1 contains the main column */
.c1{
  background-color: #242526;
  border-radius: 10px;
  margin-top: 60px;
  transition: translate(50%, 50%);
}
/* c2 determins the values for the rows and columns  */
.c2{
  background-color: #242526;
  border-radius: 10px;
  margin-bottom: 5px;
}
.c3{
  margin-top: 25px;
  background-color: #2c2d2e;
  border-radius: 10px;
  margin-bottom: 100px;
}

/* own margin set for headers */
h1{
  margin-top: 50px;
  
}
h4{
  margin-top: 10px;
}


li {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background: black;
  }
  
  .label {
    font-weight: bold;
  }
  
  .add-burger-form {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background: #393a3b;
  }
  
  input {
    color: black !important;
    
  }